body {
  background-color: peachpuff;
}

.card {
 width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}
